		<table>
			<thead>
					<th class="col-sm-3"></th>
					<th class="col-sm-3"><h2>人材紹介</h2></th>
					<th class="col-sm-3"><h2>一般的な求人広告</h2></th>
					<th class="col-sm-3 sg"><h2>職Get</h2></th>
			</thead>
			<tbody>
				<tr>
					<td class="title">
						<h2>適格</h2><br>
						採用条件に見合った応募者のみ選出
					</td>
					<td class="green">
						<h1>◯</h1>アカウント作成、求人情報登録、人材派遣会社スタッフとの面談など、数多くの手続きを経て<span>採用条件に合った人材を選出できることが多い</span>。
					</td>
					<td class="orange">
						<h1>△</h1>応募者が採用条件を満たすかどうか関係無く、<span>全ての応募者から問い合わせが来る</span>。
					</td>
					<td class="sg green">
						<h1>◯</h1> 職Get応募者選出フィルター機能で採用条件を設定するだけで、<span>採用条件にあった人材を選出できる。</span>
					</td>
				</tr>
				<tr>
					<td class="title"><h2>簡単</h2><br>
						パスワードの作成や保管等の煩雑な手続きが不要
					</td>
					<td class="red">
						<h1>X</h1>　アカウント作成、パスワードの作成・保管、人材派遣会社スタッフとの面談やミーティングなど、<span>数多くの手続きが必要となる</span>。
					</td>
					<td class="orange">
						<h1>△</h1>アカウント作成、パスワードや消去キーの作成・保管など、<span>煩雑な手続きが必要となる</span>。
					</td>
					<td class="sg green">
						<h1>◯</h1>　<span>アカウント作成せずに求人広告を掲載できる</span>。作成後の広告訂正などは職GetからのEメールのリンクを使うだけなので、ログインや、パスワードの暗記は必要としない。
					</td>
				</tr>
				<tr>
					<td class="title"><h2>安全</h2><br>
						サイト全ページにSSLデータ暗号化セキュリティ搭載
					</td>
					<td class="orange">
						<h1>△</h1>　登録ページや支払いページ以外はSSL仕様でないサイトが多い。
					</td>
					<td class="red">
						<h1 class="red">X</h1>　登録ページや支払いページも含めてSSL仕様でないことが多い。
					</td>
					<td class="sg green">
						<h1>◯</h1>　<span>全ページSSL対応</span>
					</td>
				</tr>
				<tr>
					<td class="title"><h2>迅速</h2><br>
						広告掲載から条件に見合った応募者の履歴書送付までの時間の短縮
					</td>
					<td class="red">
						<h1>X</h1> アカウント作成、求人情報登録、人材派遣会社スタッフとの面談を経て実際の求人募集が開始するまで<span>数日間から一週間程度かかる</span>。
						人材派遣会社が応募者の履歴書を選別するため、手元に履歴書が届くまで<span>更に時間が掛かる</span>。
					</td>
					<td class="orange">
						<h1>△</h1> アカウント作成と広告作成・支払い・掲載で<span>30分程度掛かる</span>。
					</td>
					<td class="sg green">
						<h1>◯</h1>広告作成、選定フィルター設置、支払い、掲載完了まで<span>15分程度掛かる</span>。採用条件に見合った応募者の<span>履歴書が手元に届くまで0分</span>。
					</td>
				</tr>
				<tr>
					<td class="title">
						<h2>安価</h2>
						コストパフォーマンス
					</td>
					<td class="red">
						<h1>X</h1> 採用者の年収の約20%~30%が、採用成功報酬として掛かる。ニューヨークの平均年収であれば<span>$20,000以上掛かる</span>。
					</td>
					<td class="green">
						<h1>◯</h1> 広告掲載一回につき<span>$20 ~ $35</span>掛かる。
					</td>
					<td class="sg green">
						<h1>◯</h1> 広告掲載、職Get応募者選出フィルター、採用条件に見合った応募者の履歴書送付、全サービスで<span>$100掛かる</span>。
					</td>
				</tr>
			</tbody>
		</table>
