	<div id="speedy" class="col-sm-8 col-sm-offset-2" style="border: 1px solid gray; background-color: gray; color: white; text-align: center; margin-top: 200px;">
		<div>
			<h2>スピーディー	</h2>
			<div>約15分で広告掲載完了</div>
		</div>
		<div>
			<div class="col-sm-4">
				<h1>①</h1><div>求人広告の作成</div>
				<div>こうこう、こうしてこう。楽チンさ。特に、あれあれあれだから、本当にいいよ。</div>
			</div>
			<div class="col-sm-4">
				<h1>②</h1><div>応募者フィルターの作成</div>
				<div>こうこう、こうしてこう。楽チンさ。特に、あれあれあれだから、本当にいいよ。</div>
			</div>
			<div class="col-sm-4">
				<h1>③</h1><div>お支払いと掲載</div>
				<div>こうこう、こうしてこう。楽チンさ。特に、あれあれあれだから、本当にいいよ。</div>
			</div>
		</div><br>
		<div class="col-sm-12" style="margin: 20px;">
			<%= link_to "求人広告を作成する ＞", '#', "data-toggle" => "modal", "data-target" => "#myModal", style: "color: black; font-weight: bold;"%>
		</div>
	</div>

	<div id="economic" class="col-sm-12" style="text-align: center; margin: 200px 0;">
		<h2>業界最安水準</h2>
		<div>掲載一件につき$100のみ</div>
		<div>成功費用 $0</div>
		<div>契約金 $0</div>

		<%= link_to "求人募集の掲載はこちら", '#', class: "btn btn-warning", "data-toggle" => "modal", "data-target" => "#myModal" %>
	</div>