<div style="text-align:center;">
  <div style="display:inline-block; text-align:left;">

		<div style="color:white;">&nbsp;</div>
			<div style="border: 1px solid black; padding: 0; width: 600px;">
				<div style="width:100%; padding: 20px 80px; background-color:#428BCA;">
					<table style="padding:0px;">
						<%= image_tag("shokuget-logo-inverse-small.png", width: "100", alt: "shokuget-new-york-logo") %>
          </table>
        </div>

				<div style="padding: 50px 80px;">

			    <h4>ジャパン・コンサルティング・カンパニー</h4>
			    <div>採用ご担当者様</div><br>

			    <div>
			    	<div>この度は職Getをご利用いただきまして誠に有難うございます。</div>

						<div>
							７月１日にご掲載いただきました御社の求人広告に応募がございましたのでお知らせ致します。職Get応募者フィルター機能により選出された応募者の履歴書を本Eメールにて添付させていただきますので、ご査収下さい。
						</div><br>

						<div>
							<div><b>応募者名</b>：山田太郎</div><br>
							<div><b>応募者連絡先（Eメール）</b>：</div><br>
							<div>
								<b>志望動機：</b>
								<div>
									前職で主にパソコンを使用した業務を通して、より専門的な知識や経験を積みたいと考えこの度志望致しました。また、専門的な知識や経験を積むべく、システムの仕組みや運営について、さらにプログラミングのスキルを高めたいと考えております。
								</div>

							</div><br>
							<b>応募フィルターへの回答</b>
							<table style="border:1px solid black; width: 440px;">
								<thead>
									<th style="border:1px solid black; text-align: center;">質問</th>
									<th style="border:1px solid black; text-align: center;">回答</th>
								</thead>
								<tbody>
									<tr>
										<td><b>職務経験に関する回答</b></td>
										<td></td>
									</tr>
									<tr>
										<td>関連した仕事での経験年数</td>
										<td>１年</td>
									</tr>
									<tr>
										<td> 　　  </td>
										<td></td>
									</tr>
									<tr>
										<td><b>語学力に関する回答</b></td>
										<td></td>
									</tr>
									<tr>
										<td>英語の語学レベル</td>
										<td>ビジネス</td>
									</tr>
									<tr>
										<td>TOEICの成績</td>
										<td>730点〜850点</td>
									</tr>
									<tr>
										<td> 　　 </td>
										<td></td>
									</tr>
									<tr>
										<td><b>教育に関する回答</b></td>
										<td></td>
									</tr>
									<tr>
										<td>学部</td>
										<td>ビジネス/経済系</td>
									</tr>
									<tr>
										<td>成績</td>
										<td>トップ20%</td>
									</tr>
									<tr>
										<td> 　　 </td>
										<td></td>
									</tr>
									<tr>
										<td><b>PCソフトに関する回答</b></td>
										<td></td>
									</tr>
									<tr>
										<td>MSワードの使用経験</td>
										<td>ワープロとしての基本機能は使える</td>
									</tr>
								</tbody>
							</table>
						</div><br>

 						<div>
 							応募者の履歴書をご覧になっていただき、是非一度面接の機会を設けていただければと思います。
 						</div>
 						<div>
 							今後の面接日程取り決め等のやり取りは基本的に全て御社と応募者との間で行っていただく事となります。何かご不明な点がございましたらご遠慮なくお問い合わせ下さい。
 						</div><br>
 						<div>
							どうぞよろしくお願い申し上げます。
						</div>

						<div>職Get.comを今後ともどうぞよろしくお願いします。</div><br>

						<div style="font-weight:bold;">職Get.com カスタマーサービス</div>
						<div>web: <a href="http://shokuget.com" target="_blank">http://shokuget.com/</a></div>
						<div>email: <a href="mailto:contac@shokuget.com">contact@shokuget.com</a></div>

			    </div>


					<hr>

					<div>
						<h4 style="text-align:center;">ご注文後の変更等について</h4>
						<div>
							掲載内容の修正をされたい場合は、以下のボタンより訂正ページをアクセスし、掲載内容を変更することが可能です。
						</div><br>

						<table style="padding: 20px 0;">
							<tr>
								<td style="width: 100px;"></td>
								<td>
									<div style="display:block; width: 200px;">
										<a href="#" style="color:white; text-decoration:none; background-color:#428BCA; display: block; padding: 10px 0; text-align:center; border-bottom:2px solid #2B99BB; border-radius: 3px;">掲載された広告を訂正</a>
									</div>
								</td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
				<div style="width:100%; height:80px; background-color:black; padding: 30px;">
					<table style="padding:20px;">
						<tr>
							<td style="width: 40px;">
								<a href="http://www.facebook.com/shokuget" target="_blank">
							  		<img src="https://gallery.mailchimp.com/d7952b3f9c7215024f55709cf/images/fb.png" style="width: 30px; height: 30px;" width="30" height="30">
								</a>
							</td>
							<td style="width: 40px;">
								<a href="http://twitter.com/shokuget" target="_blank">
		 						  <img src="http://gallery.mailchimp.com/d7952b3f9c7215024f55709cf/images/tw.png" style="width: 30px; height: 30px;" width="30" height="30">
								</a>
							</td>
					    <td style="width: 500px; text-align: right; color:#717983; text align:right;">Copyright (c) 2014 - <a href="http://shokuget.com" style="color:#717983;text-decoration:none;">ShokuGet</a>
					    </td>
						</tr>
					</table>
				</div>
			</div>
		<div>
	</div>
</div>

