<div id="job-edit" class="main container-fluid">
  <div class="row-fluid">
  	<div class="col-md-12 row-fluid">

  		<br><br>

			<div class="col-md-8 col-md-offset-2">
				<%= render 'layouts/breadcrumbs' unless @job.active? %>

				<h1>広告編集</h1>
				<hr>

				<%= render 'form' %>

  	</div>
		</div>
	</div>
</div>

