<div class="container-fluid jobs-new">
  <div class="row-fluid">

  	<br><br>
		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<div class="breadcrumbs">
				<div class="desc">広告作成から掲載までの3ステップ</div>
				<div class="item active">1. 求人広告作成</div>
				<div class="item">2. 広告内容の確認</div>
				<div class="item">3. お支払と掲載</div>
			</div>
		</div>

		<div class="col-sm-12 col-md-8 col-md-offset-2">
			<h1>1. 求人広告作成</h1>
			<hr>
			<%= render 'form' %>
		</div>

	</div>
</div>