<div class="feedback_form container-fluid">
	<div class="row-fluid">
		<br><br>

		<div class="field col-sm-12 col-md-8 col-md-offset-2">

			<div class="textbox">
				<h1>応募が完了しました。</h1>
				ご応募ありがとうございました。<br>
				求人広告掲載企業が面接を希望した場合は企業担当者より直接連絡がございます。<br>
				</div>
			<div>
				<%= link_to "ホームに戻る", root_path, class: "btn btn-primary" %>
				<%= link_to "閉じる", "#", class: "btn btn-default", onclick: "window.open('', '_self', ''); window.close();" %>
			</div>
		</div>

	</div>
</div>
