<div class="feedback_form container-fluid">
	<div class="row-fluid">

		<div class="field col-xs-12">

			<div class="post">
				<%= image_tag 'post.png'%>
			</div>

			<div class="textbox">
				<h1>メールが送信されました。</h1>
				お問い合わせありがとうございます。早急に職Getカスタマーサービスからご連絡させていただきます。<br>
				</div>	
			<div>
				<%= link_to "閉じる", "#", class: "btn btn-default", onclick: "window.open('', '_self', ''); window.close();" %>
			</div>
		</div>

	</div>
</div>